<table>
  <tr>
    <td>
      <a class='borders blue-background padding' href="#">PLANS</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">PROJECTS</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">EMPLOYEES</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">VACATIONS</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">ACTIVITIES</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">CLIENTS</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">DATAROWS</a>
    </td>
    <td>
      <a class='borders blue-background padding' href="#">QS & HELP</a>
    </td>
  </tr>
</table>