/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// colors
$black: rgba(0, 0, 0, 0.65);
$cream: rgba(255, 255, 255, 0.1);
$white: #fff;
$grey: #fafafa;
$blue: #00a9ff;
$steelblue: rgba(0, 67, 255, 0.02);
$green: rgba(166, 226, 46, 0.2);
$darkgreen: #2bbb23;
$orange: rgba(255, 165, 0, 0.1);
$fuschia: #02d400;
$yellow: #efe158;
$purple: #ae81ff;
$light-blue: #e9f9e6;
$darkgrey: #cacaca;

// properties
$background: $grey;
$text-color: $black;

%padding {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

%center {
  margin: auto;
  width: 85%;
}

.padding {
  @extend %padding;
}

// fonts
// anchors
a {
  color: $blue;
  text-decoration: none;
  &:visited {
    color: $blue;
  }
  &:hover {
    background-color: $light-blue;
    color: $blue;
    border-spacing: 10px;
    border-collapse: separate;
  }
}

// html
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 18px; //background: #00303e;
  background: $background;
}

html,
body,
td,
button,
input,
select,
option,
textarea,
pre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: $text-color;
}

article,
details,
footer,
header,
nav,
section {
  display: block;
}

.blue-background {
  background-color: $white;
  &:hover {
    background-color: $light-blue;
  }
}

form {
  position: relative;
  /*pointer-events: none;*/
}

.fold {
  color: #fff;
  background: #ae81ff;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.playerControls {
  cursor: default;
}

.playerControls .active {
  color: #66d9ef;
  cursor: pointer;
}

/*
  6 column system
  3 sizes: sm md lg
*/

td {
  padding: 7px;
  text-align: center;
  input {
    width: 95%;
  }
}

.left {
  text-align: left;
}

.borders {
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px rgba(95, 136, 255, 0.2)
}

input,
select,
option {
  background: rgba(153, 153, 153, 0.1);
  border: 1px solid rgba(153, 153, 153, 0.1);
  border-radius: 5px;
  width: 100%;
  padding: 3px;
}

option {
  background-color: #fff;
}


table {
  margin-left: auto;
  margin-right: auto;
  .noc {
    margin: 0;
  }
}

.form-control {
  width: 100px;
}


.form-action {
  background: #375200;
  color: #fd971f;
  width: 3%;
  float: left;
  margin: 0 2% 0 2%;
}

.new-data {
  color: #fd971f;
}

.divider {
  background: #fefefe;
  height: 1px;
}

.orange {
  background: $orange;
}

.blue {
  background: $steelblue;
}

.green {
  background: $green;
  color: $darkgreen;
}

.red-text {
  color: red;
}

.pointer {
  cursor: pointer;
}

.totalgrey {
  background: $darkgrey;
  color: $darkgrey;
  border: $darkgrey;
  border-radius: 0px;
}

.control-table {
  position: fixed;
  top: 20px;
  left: 20px;
  float: left;
}